# Dependency folders
node_modules/

# Next.js build output
.next/

# Strapi build & cache output
dist/
.tmp/
.cache/
.strapi/

# Environmental variables (MUST stay local!)
.env
.env.local
.env.*.local

# Databases (SQLite)
*.db
*.db-journal

# Logs & Temp
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Sensitive files
id_rsa
id_rsa.pub
*.pem
*.key
