<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>opener</string>
	<key>CFBundleIdentifier</key>
	<string>com.sanrafael360.mail</string>
	<key>CFBundleName</key>
	<string>San Rafael 360</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Abre el borrador en Mail para enviarlo.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>San Rafael 360 Mail</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sanrafael360-mail</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
